* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    background: #a9f719;
    font-size: 14px;
    }
    
    .container {
    flex: 0 1 100px;
    margin: auto;
    padding: px;
    }
    
    .screen-body-item {
    flex: 1;
    padding: 0px;
    }
    input {
    margin: 10px 10px 10px;
    }
    .showdata {
    color: rgb(31, 8, 233);
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    